{% extends 'base.html' %}
{% set active_page = "BannedList" %}
{% block content %}



<h3>Banned IPs List</h3>
<p>{{len}} items</p>

<table class="table table-striped table-sm" style="width: 50%;">
    <!-- Table headers -->

    <thead>
        <tr style="color: red; ">
            <th scope="col"></th>
            <th scope="col">IP Adress</th>

        </tr>
    </thead>


    <tbody>
        <!-- For loop logic of jinja template -->
        {%for i in range(0, len)%}

        <!-- table rows -->
        <tr>
            <td></td>
            <td>{{ips[i]}}</td>
        </tr>

        {%endfor%}
    </tbody>

</table>

{% endblock %}