{% extends 'base.html' %}
{% set active_page = "FullList" %}
{% block content %}

    <h3>Full IPs List</h3>
    <p>{{total}} items</p>



    <table class="table table-striped table-sm" style="width: 50%;">
        <!-- Table headers -->

        <thead>
            <tr style="color: green; ">
                <th scope="col" ></th>
                <th scope="col" ></th>
                <th scope="col" >IP Adress</th>
            </tr>
        </thead>


        <tbody>
            <!-- For loop logic of jinja template -->
            {%for i in range(0, len)%}

            <!-- table rows -->
            <tr>
                <td>
                    <form action="{{url_for('BanIP')}}" method="post">
                        <input id="ip_address" name="ip_address" type="hidden" value={{ips[i]}}>
                        <button type="submit" style="color: red;"> Ban </button>
                    </form>
                </td>
                <td><i>{{bans[ips[i]]}}</i></td>
                <td>{{ips[i]}}</td>
            </tr>

            {%endfor%}
        </tbody>

    </table>
    <a href="/fullList?all=True">Load Entire List</a>
    <br><br>


{% endblock %}