<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('Index') }}">TOR IP List</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {{ 'active' if active_page == 'FullList' else '' }}" aria-current="page" href="{{ url_for('FullList') }}">Full List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ 'active' if active_page == 'ValidList' else '' }}" aria-current="page" href="{{ url_for('ValidList') }}">Valid List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ 'active' if active_page == 'BannedList' else '' }}" aria-current="page" href="{{ url_for('BannedList') }}">Banned List</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>